body {
    font-family: Arial, sans-serif;
    margin: 40px;
    background-color: #f0e8bb;
    color: #694545;
} 

.header {
    text-align: center;
    margin-bottom: 30px;
}
.Section {
    background-color: #f7f4f4;
    box-shadow: 0 0 5px;
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 20px;
}
.profile {
    width: 180px;
    border-radius: 50%;
}

.highlight {
    color: #a38137;
}
.highlight:hover {
    text-underline-position:
}

.section {
    background-color: #f7f4f4;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 0 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #7a51039d;
    color: white;
}

a {
    color: #0077cc;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

footer {
    text-align: center;
    margin-top: 40px;
    font-size: 14px;
    color: gray;
}